---
---

@import "{{ site.theme }}";

body {
  background-color: #212121;
  color: #e8e6e3;
}

article {
  background-color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  color: #e8e6e3;
}

a {
  color: #6fa8dc;
}

a:hover {
  color: #8ab4f8;
}

code {
  background-color: #2d2d2d;
  color: #e8e6e3;
  padding: 2px 6px;
  border-radius: 3px;
}

pre {
  background-color: #2d2d2d;
  border: 1px solid #3d3d3d;
}

pre code {
  background-color: transparent;
}

blockquote {
  border-left: 3px solid #6fa8dc;
  color: #b8b8b8;
}